<h2>Update item</h2>

<form class="create-item-container" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <p>Name: </p>
    <input class="input-textbox" formControlName="name" required ngModel="{{item.name}}"/>
  </div>

  <div class="input-container">
    <p>Description: </p>
    <textarea class="description-textbox"   [(ngModel)]= "role" [maxLength]="maxChars" formControlName="description" required ngModel="{{item.description}}"></textarea>
    <label> {{role.length}}/{{maxChars}} </label>
  </div>

  <div class="left-right-container">
    <div class="input-container">
      <p>Price(€): </p>
      <input formControlName="price" required ngModel="{{item.price}}"/>
    </div>
    <div class="input-container">
      <p>Stock: </p>
      <input formControlName="urgency" required ngModel="{{item.amountOfStock}}"/>
    </div>
  </div>

  <div class="left-right-container">
    <button class="create-button" type="submit" [disabled]="!profileForm.valid">UPDATE</button>

    <button class="cancel-button">CANCEL</button>
  </div>

</form>

